.container {
    /* background-image: url(../../assets/image/banner.jpeg); */
    object-fit: contain;
    height: 100vh;
    width: 100%;
   background-size: cover;
 background-position: center center;
   background-repeat: no-repeat;
   display: flex;
    flex-direction: column;
    justify-content: center; 
    padding-left: 3%;
    overflow: hidden;
    box-sizing: border-box;
}
.all_content{
padding-top: 200px;
 position: relative;
    z-index: 2
}

/* Logo  */
.img{
    width: 150px;
}
/* title and description */
.title{
    color: white;
    font-size: 3rem;
    font-weight: 800;
    padding-bottom: 0.3rem;
}
.description{
    font-size: 23px;
    line-height: 1.3;
    max-width: 740px;
    color: white;
    padding-bottom: 10px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}
.btn{
margin: 10px 10px;
   border: none;
   padding: 10px 25px;

}
.btn:hover{
    background-color: lightslategrey;
}

.fade_bottom{
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 180px;

    background: linear-gradient(
        180deg,
        transparent,
        rgba(0,0,0,0.4),
        #111
    );
      z-index: 1;
}